<html layout:decorate="~{layout}">
<div layout:fragment="content" class="container my-3">
    <div class="my-3 border-bottom">
        <div>
            <h4>signup</h4>
        </div>
    </div>
    <form th:action="@{/siteUser/signup}" th:object="${siteUserForm}" method="post">
        <div th:replace="form_errors :: formErrorsFragment"></div>
        <div class="mb-3">
            <label for="identity" class="form-label">identity</label>
            <input type="text" th:field="*{identity}" class="form-control">
        </div>
        <div class="mb-3">
            <label for="password" class="form-label">password1</label>
            <input type="password" th:field="*{password1}" class="form-control">
        </div>
        <div class="mb-3">
            <label for="password" class="form-label">password2</label>
            <input type="password" th:field="*{password2}" class="form-control">
        </div>
        <div class="mb-3">
            <label for="email" class="form-label">email</label>
            <input type="email" th:field="*{email}" class="form-control">
        </div>
        <button type="submit" class="btn btn-primary">signup</button>
    </form>
</div>
</html>